* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1F2937;
}

.main-container {
    display: grid;
    grid-template: 20vh 70vh 10vh / 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "color-picker drop-down drop-down drop-down get-scheme-btn"
                            "color1 color2 color3 color4 color5"
                            "hex-footer1 hex-footer2 hex-footer3 hex-footer4 hex-footer5"
}

.color-scheme1 {
    grid-area: color1;
}
.color-scheme2 {
    grid-area: color2;
}
.color-scheme3 {
    grid-area: color3;
}
.color-scheme4 {
    grid-area: color4;
}
.color-scheme5 {
    grid-area: color5;
}

.color-wheel-style {
    grid-area: color-picker;
    width: 60%;
    height: 3em;
}

.drop-down-menu-style {
    grid-area: drop-down;
    height: 3em;
    width: 90%;
    border-radius: 0.37em;
    background-color: #1F2937;;
}

.btn-style {
    grid-area: get-scheme-btn;
    background-color: #3D4B60;
    width: 90%;
    height: 3em;
    border: none;
    border-radius: 0.25em;
    font-family: 'Roboto', sans-serif;
}

.color-hex1{
    grid-area: hex-footer1;

}

.color-hex2{
    grid-area: hex-footer2;

}

.color-hex3{
    grid-area: hex-footer3;

}

.color-hex4{
    grid-area: hex-footer4;

}

.color-hex5{
    grid-area: hex-footer5;

}

.color-hex1,
.color-hex2,
.color-hex3,
.color-hex4,
.color-hex5,
.btn-style,
.drop-down-menu-style,
.color-wheel-style {
    align-self: center;
    justify-self: center;
}

.color-hex,
.drop-down-menu-style,
.btn-style {
    color: #D5D4D8;
}

.color-hex, .btn-style{
    font-size: 0.75rem;
    font-weight: bold;
}


