* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1F2937;
}

.main-container {
    display: grid;
    grid-template: 20vh 70vh 10vh / 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "color-picker drop-down drop-down drop-down get-scheme-btn"
                            "color1 color2 color3 color4 color5"
                            "footer1 footer2 footer3 footer4 footer5"
}
